.git
.gitignore
.env
.env.*

__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.venv
venv

.idea
.vscode
.DS_Store
Thumbs.db
*.log

1.png
tests
README.md
DEPLOY_RENDER.md
TEST_WORDS.md
render.yaml
